.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: white;
  padding: 5%;
  border-radius: 8px;
  width: 75vw;
  height: 75vh;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.betContainer {
  display: flex;
  background: gainsboro;
  border-radius: 8px;
  border: 2px solid #4CAF50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.betLabel {
  margin-right: auto;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 1.5rem;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
}